/* 
Title: Egge_EX6.css
Author: William Egge
Date: 10/23/2022
Description: previous CSS to be used in this course
*/
/* 
Title: Web 231 HTML^J CSS^J and JavaScript Requirements.doxs
Author: Richard Krasso
Date: 10/30/2022
Description: explains the CSS standards used in this course
*/
/* 
Title: Web 231 Assign_5.doxs
Author: Richard Krasso
Date: 11/15/2022
Description: The instructions for Assignment 5 – Sequence Game
*/

/* copied from WEB 200 */

.btn-primary {
  background-color: #4f3674;
  color: #fff;
}

.form-field {
  padding: 20px;
}

.card-title,
.btn {
  text-align: center;
}

.btn-primary:hover {
  background-color: #d6a800;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card-title {
  color: #4f3674;
  font-size: 2em;
  font-weight: 400;
}

.card-content {
  padding: 2px 16px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.full-width {
  width: 100%;
}

.form {
  display: inline-grid;
  grid-template-columns: auto;
}

.btn {
  cursor: pointer;
  border: none;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  padding: 15px 32px;
  color: #000;
}

.input,
.drop-down-menu {
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.btn-primary:hover {
  color: #4f3674;
}

/* created with global css */

#container {
  padding: 10px;
}

#card-example {
  width: 600px;
  margin: 3% auto 0;
}

#form-example {
  width: 600px;
  margin: 3% auto 0;
}

#form-results-example {
  width: 600px;
  margin: 3% auto 0;
}

/* created in week 2 */

.return-home {
  color: #4f3674;
  text-decoration: none;
}

.return-home:hover {
  color: #4f3674;
}

.return-home:visited {
  color: #3c275a;
}
