/* 
Title: Web 231 Assign_8.doxs
Author: Richard Krasso
Date: 12/10/2022
Description: The instructions for Assignment 8 – Alphabet Game
*/


/* This section corresponds with the Additional Styling Requirements*/
p {
  font-size: 28px;
  text-align: center;
}