/* 
Title: Web 231 Assign_3.doxs
Author: Richard Krasso
Date: 5/11/2022
Description: The instructions for Assignment 3 – Temperature Conversion App
*/

/* Corresponds with 7.a */
p {
  font-size: 28px;
  text-align: center;
}
