/* 
Title: Web 231 Assign_4.doxs
Author: Richard Krasso
Date: 11/11/2022
Description: The instructions for Assignment 4 – Number Guessing Game
*/

/* Corresponds with 5.1 */
p {
    font-size: 28px;
    text-align: center;
  }